<ion-header>
	<ion-toolbar>
    <ion-buttons fill="outline" slot="end">
      <ion-icon name="close-circle-outline" (click)="dismiss()" style="font-size: 40px;cursor: pointer;"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <div class="d-flex flex-row justify-content-center mb-1">
          <div class="image"> <img  src="../../../../assets/images/man.png" class="rounded-circle"></div>
      </div>
        <h3 style="text-align: center;">Hello!...{{data.name}}</h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><ion-icon name="logo-usd"></ion-icon></span>
            </div>
            <ion-input type="text" class="form-control" placeholder="Amount" #amount (keypress)="numericOnly($event);" required></ion-input>
          </div>
            <ion-item>
              <ion-textarea placeholder="Message to your Friend" [autoGrow]="true" [maxlength]="50"
                value="" #message>
              </ion-textarea>
            </ion-item>
          <!-- </div> -->
          <div class="form-group">
            <button type="submit" class="btn ionButton float-right mt-2" (click)="onClickSubmit(amount, message)" *ngIf="isTransfer">Transfer Money</button>
            <button type="submit" class="btn ionButton float-right mt-2" (click)="onClickSubmit(amount, message)" *ngIf="!isTransfer">Add Money</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>