<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Transfer to</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>Self Transfer</ion-card-title>
        <ion-card-subtitle>Within bank</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Bank Transfer</ion-card-title>
        <ion-card-subtitle>To other bank</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title>UPI Transfer</ion-card-title>
        <ion-card-subtitle>Pay to Bank A/C using UPI ID</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Enter Mobile No. of any UPI App</ion-card-title>
        <ion-card-subtitle>send money to mobile number of Paytm, Gpay</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
</ion-content>
