<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <form class="form-signin">
                <h2 class="form-signin-heading">Please Register</h2>
                <ion-item>
                  <ion-label class="sr-only" position="floating">Name</ion-label>
                  <ion-input type="text" class="form-control" required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" class="sr-only">Phone Number</ion-label>
                  <ion-input type="text" required class="form-control"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" class="sr-only">Password</ion-label>
                  <ion-input type="password" required class="form-control"></ion-input>
                </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" color="danger" expand="block"  [routerLink]="['/auth/otp-verify']">Register</ion-button>
                    <p class="secondry-text" style="text-align: center">Already have an Account? <a href="javascript:void(0);"
                      class="small-text" routerLinkActive="active" [routerLink]="['/auth/login']">Sign in</a></p>
                  </ion-col>
                </ion-row>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <form>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Register</ion-button>
        <p class="secondry-text" style="text-align: center">Already have an Account? <a href="javascript:void(0);"
          class="small-text" routerLinkActive="active" [routerLink]="['/login']">Sign in</a></p>
      </ion-col>
    </ion-row>
  </form> -->
</ion-content>
