.check{
    /* margin-right: 850px; */
    margin-top: 21px;
    padding-right: 979px;
    font-size: 35px;
    color: green;
}


@media only screen and (max-width: 600px) {
    .check{
        /* margin-right: 850px; */
        margin-top: 21px;
        padding-right: 67px;
        font-size: 35px;
        color: green;
    }
  }