/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
p {
    font-size: 25px;
}
ion-icon {
    font-size: 81px;
    margin-top: 20px;
}