<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center;">Create Wallet</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="text-align: center;">
    <ion-icon name="wallet-outline"></ion-icon>
    <hr>

    <p>Unlock full wallet benefits</p>
    <p>Complete KYC to avail the following wallet benifits</p>
    <ion-item>
       <p style="margin-left: 118px;color: darkorange;">Add money to your wallet</p>
       <p style="margin-left: 110px;color: darkorange;">Monthly limit upto 10,000</p>
       <p style="margin-left: 210px;color: darkorange;">Lifetime validity</p>
    </ion-item>
    <p style="color:brown">Terms and conditions</p>
    <ion-button>complete KYC</ion-button>
  </ion-content>
  