@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

.total {
  align-self: start;
  justify-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total > div:not(:first-child):not(:last-child) {
  margin: 0.5rem;
}

.total .label,
.card .label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
}

.total .value {
  font-size: 1.8rem;
}

.total .balance {
  // background: #1f3a4a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #02ca8c;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ion-content{
  --background: url('../../../assets/images/img1.jpg') no-repeat 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
.wrapper {
    margin: 10px auto;
    padding: 10px 30px
}


.text {
    color: #fff
}

.money {
    font-family: 'Lato', sans-serif
}

.fa-long-arrow-down,
.fa-long-arrow-up {
    padding-left: 12px;
    padding-top: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 100;
    color: #28df99
}

.fa-long-arrow-up {
    color: #ffa500
}


// .table-dark {
//     // background-color: #222
// }
ion-chip {
  background-color: transparent;
  ion-label {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    // margin-left: 50px;
    text-shadow: 1px 1px 1px var(--ion-color-medium);
    color: whitesmoke;
  }
}
.table thead th {
    text-transform: uppercase;
    color: #bbb;
    font-size: 12px
}

.table thead th,
.table td,
.table th {
    border: none;
    overflow: auto auto
}

td .fa-briefcase,
td .fa-bed,
td .fa-exchange,
td .fa-cutlery {
    color: #ff6347;
    background-color: #444;
    padding: 5px;
    border-radius: 50%
}

td .fa-bed,
td .fa-cutlery {
    color: #40a8c4
}

td .fa-exchange {
    color: #b15ac7
}

tbody tr td .fa-cc-mastercard,
tbody tr td .fa-cc-visa {
    color: #bbb
}

tbody tr td.text-muted {
    font-family: 'Lato', sans-serif
}

tbody tr td .fa-long-arrow-up,
tbody tr td .fa-long-arrow-down {
    font-size: 12px;
    padding-left: 7px;
    padding-top: 3px;
    height: 20px;
    width: 20px
}

.results span {
    color: #bbb;
    font-size: 12px
}

.results span b {
    font-family: 'Lato', sans-serif
}
// ion-chip.md.ion-activatable.hydrated {
//   height: 50px;
//   color: whitesmoke;
//   background-color: #2dd36f;
//   width: 127px;
// }
// ion-chip.ios.ion-activatable.hydrated{
//   height: 50px;
//   color: whitesmoke;
//   background-color: #2dd36f;
//   width: 127px;
// }
.animation{
  animation: color-change 2s infinite;
  font-size: 20px; 
  text-align: center;
  margin-top: 20px;
}

@keyframes color-change {
  0% { color: #2dd36f; }
  50% { color: #ffa500; }
  100% { color: #eb445a; }
}
.ionButton{
  color: #fff;
  background-color: #d93444;
  border-color: #d93444;
}