<ion-content [fullscreen]="true">

  <ion-slides #slides pager="true" [options]="slideOpts">
    <ion-slide 
      [style.background-image]="'url(assets/images/png1.webp)'" 
      class="topRight">
      <ion-button fill="clear" color="light" (click)="goToLogin()">SKIP</ion-button>
    </ion-slide>
    <ion-slide 
      [style.background-image]="'url(assets/images/png.png)'"
      class="topRight">
    <ion-button fill="clear" color="light" (click)="goToLogin()">SKIP</ion-button>
    </ion-slide>
    <ion-slide 
      [style.background-image]="'url(assets/images/money.jpg)'">
      <ion-button (click)="goToLogin()" fill="outline" class="transformButton" shape="round">
        <ion-text color="dark">Let's Start</ion-text>
      </ion-button>
    </ion-slide>
  </ion-slides>

</ion-content>
