<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-content class="background">
   
      
        <!-- App Capsule -->
        <div id="appCapsule">

          <div class="section mt-2 text-center">
            <div id="login_title">
              <img class="logo" src="../../../assets/images/logo.png"/>
              <h2 class="text">PRO-PAY</h2>
              <div class="under_login"></div>
          </div>
              <h1>Forgot password</h1>
              <h4>Type your e-mail to reset your password</h4>
          </div>
          <div class="section mb-5 p-2">
              <form>
                  <div class="card">
                      <div class="card-body pb-1">
  
                          <div class="form-group basic">
                              <div class="input-wrapper">
                                  <label class="label" for="email1">E-mail</label>
                                  <input type="email" class="form-control" id="email1" placeholder="Your e-mail">
                                  <i class="clear-input">
                                      <ion-icon name="close-circle"></ion-icon>
                                  </i>
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <div class="form-button-group transparent">
                      <button type="submit" class="btn btn-primary btn-block btn-lg" [routerLink]="['/auth/login']">Reset Password</button>
                  </div>
  
              </form>
          </div>
  
      </div>
      <!-- * App Capsule -->
  </ion-content>
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <form class="form-signin">
                <h2 class="form-signin-heading">Forgot Password</h2>
                <ion-item>
                  <ion-label for="inputEmail" class="sr-only" position="floating">Email</ion-label>
                  <ion-input type="email" class="form-control" required autofocus></ion-input>
                </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-button type="submit" color="danger" expand="block">Send</ion-button>
                  </ion-col>
                </ion-row>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>
  </form> -->
</ion-content>

