<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Pay Phone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar  animated="true" placeholder="Search History" [(ngModel)]="search" style="background-color:dimgrey"></ion-searchbar>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>PAY PHONE</ion-label>
    </ion-list-header>
    <ion-item lines="none" *ngFor="let item of data | filter: search; let i=index;">
      <ion-icon slot="start" name="person" color="primary"></ion-icon>
      <ion-label size="large" class="ion-text-wrap">
        <b>{{item.name}}</b>
        <p>
          {{item?.phoneNumber}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

