<ion-header>
  <ion-toolbar>
    <ion-title>otp-verify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="padding-top: 20px;">
        <div class="container box" style="margin-top: 10px; padding-left: 0px; padding-right: 0px;">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <form class="form-signin">
                <h2 class="form-signin-heading">Please Verify OTP</h2>
                  <code-input id="mycode" [isCodeHidden]="false" [isNonDigitsCode]="false" [codeLength]="6"></code-input>
                <div class="form-btn-container">
                  <ion-button type="submit"  class="primary-btn">Verify</ion-button>
                  <p class="secondry-text" *ngIf="emailEnable">Didn't recive code? 
                      <a href="javascript:void(0);" class="secondary-link" >Resend</a></p>
                  <p class="secondry-text"><a href="javascript:void(0);" class="secondary" routerLinkActive="active" [routerLink]="['/auth/login']">Cancel</a></p>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
