<ion-content [fullscreen]="true" color="light">
  <ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon [name]="selectedTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="transfer">
        <ion-icon [name]="selectedTab == 'transfer' ? 'swap-horizontal' : 'swap-horizontal-outline'"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="transaction-history">
        <ion-icon [name]="selectedTab == 'card' ? 'paper-plane' : 'paper-plane-outline'"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon [name]="selectedTab == 'settings' ? 'settings' : 'settings-outline'"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
