<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-text slot="start" color="light" style="color:black">Welcome, {{usersData?.name}}</ion-text>
    <img src="../../../assets/images/wave.png" style="width: 20px;height: 20px;margin-left: -26px;position: fixed;"/>
    <ion-icon name="log-out-outline"  slot="end" (click)="logout()"></ion-icon>
  </ion-item>
</ion-header>

<ion-content fullscreen>
  <div class="container">
    <div class="d-flex justify-content-center">
      <form [formGroup]="formData" (ngSubmit)="onClickSubmit()">
      <div class="card">
        <div class="card-header" style="text-align: center;">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
              </div>
            </div>
          </div>
          <button class="btn btn-danger btn-sm" (click)="fileInput.click()">Upload Image</button>
        </div>    
        <h4 style="color: white;">Edit Profile</h4>
        <div class="card-body">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <ion-input type="text" class="form-control" placeholder="Username" formControlName="name"></ion-input>
              
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <ion-input type="password" class="form-control" placeholder="Password" formControlName="password"></ion-input>
            </div>
            <ion-text 
            color="danger" 
            *ngIf="!formData.get('password').valid && formData.get('password').touched">
            <ion-text
              class="error"  
              *ngIf="formData.get('password').hasError('required')">
              * Please enter your password
            </ion-text>
            <ion-text
              class="error"  
              *ngIf="!formData.get('password').hasError('required') && formData.get('password').hasError('pattern')">
              * Password must contain more than 8 characters, 1 upper case letter, and 1 special character
            </ion-text>
          </ion-text>
            <div class="form-group">
              <button type="submit" [disabled]="formData.invalid" class="btn ionButton btn-sm">Update</button>
            </div>
        
        </div>
      </div>
    </form>
    </div>
  </div>
</ion-content>
